*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container{
  display: grid;
  grid-template-areas: 
  "sidebar header"
  "sidebar content";
  min-height: 100vh;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 60px 1fr;
  transition: grid-template-columns 0.3s ease;
}

app-navbar{
  grid-area: sidebar;
}

app-header{
  grid-area: header;
}

.content{
  grid-area: content;
}




#fp_input{
  font-size: 15px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  height: 50px;
  font-family: "Open Sans", "Roboto", sans-serif;
  border-radius: 50px;
  width: min(80%, 650px);
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid #006937;
}

.labs{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  padding: 5%;
  gap: 30px;
  justify-content: center;
}

.box{
  position:relative;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #006937;
  border-radius: 30px;
}

.box-info{
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid whitesmoke;
}

.search{
  display: flex;
  align-items: center;
}


.bg-gk { background-image: url('imgs/GK.jpg'); }
.bg-ls { background-image: url('imgs/LS.png'); }
.bg-vl { background-image: url('imgs/VL.jpg'); }



.info-text{
  font-family: "Open Sans", "Roboto", sans-serif;
  margin: 4px;
  margin-left: 25px;
}


@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 240px 1fr;
  }
}

