*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#note{
  display: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  align-items: flex-start;
  background-color: lightgreen;
  font-weight: bold;
}

.container{
  display: flex;
  flex-direction: column;
  background: linear-gradient(rgba(8, 120, 48, 0.15), rgba(0, 0, 0, 0.2)), url('./imgs/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
  align-items: center;
}

.login-section{
  background-color: rgba(0, 0, 0, 0.7); 
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: min(90vw, 450px);
  padding: 2rem 3.5rem;
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.title-section{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0rem 2.5rem 0rem;
}

#title-logo{
  height: 15vh;
  border: 1px solid white;
  border-radius: 100px;
  background-color: white;
}

#title-page{
  font-size: 2.5rem;
  font-family: "Montserrat", "Poppins", sans-serif;
  color: white;
  margin: 0 1rem;
}

.login-input{
  height: 2.2rem;
  font-family: "Open Sans", "Roboto", sans-serif;
  border-radius: 5px;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #006937;
}

.checkbox-register-container{
  display: flex;
  justify-content: space-between;
}

.checkbox-container{
  display: flex;
}

label{
  font-size: 1rem;
  color: white;
}

.link{
  font-size: 0.85rem;
  color: rgb(0, 255, 137);
}


.button{
  font-family: "Inter", "Roboto", sans-serif;
  width: 100%;
  height: 2.5rem;
  margin: 0.5rem 0;
  border-radius: 20px;
  border: 0px;
  color: white;
  background-color: #006937;
  font-weight: 600;
  font-size: 1rem;
}

.button:hover{
  background-color: #00a053;
}