*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container{
  display: grid;
  grid-template-areas: 
  "sidebar title-section";
  grid-template-columns: 60px 1fr;
  min-height: 100vh; 
  transition: grid-template-columns 0.3s ease;
}


.sidebar {
  padding-top: 1.5rem;
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  background-color: whitesmoke;
}

.nav-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-logo{
  width: 80%;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  grid-area: title-section;
}

.nav-text{
  font-family: "Inter", "Roboto", sans-serif;
  display: none;
  font-weight: bold;
}

a{
  width: 100%;
  padding: 0.7rem;
}

a:hover{
  background-color: gainsboro;
}

i{
  font-size: 1.7rem;
  color: darkslategray;
}

.grid-container div.content div.title-section{
  display: flex;
  align-items: center;
  background-image: url(imgs/HS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #006937;
  min-height:20vh;
  grid-area: title-section;
}

#title-page{
  font-size: clamp(1.5rem, 5vw + 0.7rem, 3rem);
  font-family: "Montserrat", "Poppins", sans-serif;
  color: white;
  margin-left: 4rem;
}

.profile-picture img{
  max-width: 180px;
  border-radius: 90px;
}

.profile-picture{
  display: flex;
  justify-content: center;
  padding: 2rem 0 0.5rem 0;
}

.profile-name{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.profile-description{
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.profile-description textarea {
  field-sizing: content;
  overflow-wrap: anywhere;
  min-height: 1lh;
  max-height: 10lh;
  width: 80%;
  text-align: center;
  resize: none;
  
  transition: all 0.2s ease;
  border: 2px solid transparent; 
  background: transparent;
  outline: none;
  font-size: 1rem;  
  
}
textarea:not([readonly]) {
  border: 2px solid #000; 
  background: #fff;
}

#edit-btn i{
  margin: 0 5px 0 0;
  font-size: 0.8rem;
}

#edit-btn{
  padding: 8px 0;
  min-width: 150px;
  font-size: 0.8rem;      
  background-color: transparent;
  border-color: #006937;
}

.profile-edit{
  display: flex;
  justify-content: center;
}

.profile-description{
  margin-bottom: 0.6rem;
}

.reservations-container{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservations{
  min-width: 100%;
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
}

.reservations-container h1{
  padding: 2rem 0 1rem 0 ;
  font-size: 1.5rem;
}




@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 240px 1fr;
  }

  #title-logo{
    padding-top: 2rem;
    max-height: 200px;
  }


  .nav-container{
    align-items: flex-start;
  }

  i{
    text-align: center;
    font-size: 2rem;
    min-width: 55px;
  }

  a{
    text-decoration: none;
  }

  .nav-text{
    text-decoration: none;
    color: black;
    display: inline;
    margin: 5px;
  }

  
}
