*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container{
  display: grid;
  grid-template-areas: 
  "sidebar title-section";
  grid-template-columns: 60px 1fr;
  min-height: 100vh; 
  transition: grid-template-columns 0.3s ease;
}


.sidebar {
  padding-top: 1.5rem;
  display: flex;
  grid-area: sidebar;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
  background-color: whitesmoke;
}

.nav-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#title-logo{
  width: 80%;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
}

.content{
  grid-area: title-section;
}

.nav-text{
  font-family: "Inter", "Roboto", sans-serif;
  display: none;
  font-weight: bold;
}

i{
  font-size: 1.7rem;
  color: darkslategray;
}

.grid-container div.content div.title-section{
  display: flex;
  align-items: center;
  background-image: url(imgs/HS.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #006937;
  min-height:20vh;
  grid-area: title-section;
}

#title-page{
  font-size: clamp(1.5rem, 5vw + 0.7rem, 3rem);
  font-family: "Montserrat", "Poppins", sans-serif;
  color: white;
  margin-left: 4rem;
}

#fp_input{
  font-size: 15px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
  height: 50px;
  font-family: "Open Sans", "Roboto", sans-serif;
  border-radius: 50px;
  width: 50%;
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid #006937;
}

.labs{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
  padding: 5%;
  gap: 30px;
  justify-content: center;
}

.box{
  position:relative;
  height: 200px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #006937;
  border-radius: 30px;
}

.box-info{
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  width: 100%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border: 2px solid whitesmoke;
}



.bg-gk { background-image: url('imgs/GK.jpg'); }
.bg-ls { background-image: url('imgs/LS.png'); }
.bg-vl { background-image: url('imgs/VL.jpg'); }



.info-text{
  font-family: "Open Sans", "Roboto", sans-serif;
  margin: 4px;
  margin-left: 25px;
}

a{
  width: 100%;
  padding: 0.7rem;
}

a:hover{
  background-color: gainsboro;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 240px 1fr;
  }

  #title-logo{
    padding-top: 2rem;
    max-height: 200px;
  }


  .nav-container{
    align-items: flex-start;
  }

  i{
    text-align: center;
    font-size: 2rem;
    min-width: 55px;
  }

  a{
    text-decoration: none;
  }

  .nav-text{
    text-decoration: none;
    color: black;
    display: inline;
    margin: 5px;
  }

  
}
