body{
  margin: 0px;
}

.container{
  display: flex;
  flex-direction: column;
}

.title-section{
  display: flex;
  padding-bottom: 40px;
  background-image: url(imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #006937;
  justify-content: center;
  height:100px;
  padding-top:30px;
  gap: 20px;
}

#Title-Page{
  font-size: 25px;
  font-family: "Montserrat", "Poppins", sans-serif;
  color: white;
  margin-top: 35px;
  margin-right: 30px;
}

#title-logo{
  height: 100px;
  border: 1px solid white;
  border-radius: 100px;
  background-color: white;
}

#section-title{
  text-align: center;
}