<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
      <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
  <style>
    body {
      background-color: #28a745; 
      color: white;
      font-family: 'Courier New', Courier, monospace;
      height: 100vh; 
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0; 
    }

    .error-box {
      text-align: left;
      padding: 30px;
      border-radius: 10px;
    }

    .big-sad-face {
      font-size: 200px;
    }

    .error-number {
      font-size: 72px;
      font-weight: bold;
    }

    .error-name {
      font-size: 36px;
    }

    .error-details {
      font-size: 18px;
      margin-top: 10px;
    }
  </style>
</head>
<body>

  {{{body}}}
  
</body>
</html>