<form id="registrationForm" action="/register" method="POST">
    <!-- Email Input -->
    <div class="mb-3">
        <label for="email" class="form-label text-white">Email</label>
        <input type="email" class="form-control border-2 border-success" id="email" name="email"
            placeholder="email@dlsu.edu.ph" required pattern=".+@dlsu\.edu\.ph"
            title="Please use a valid @dlsu.edu.ph email address">
    </div>

    <!-- Id Number Input -->
    <div class="mb-3">
        <label for="idNumber" class="form-label text-white">ID Number</label>
        <input type="text" class="form-control border-2 border-success" id="idNumber" name="idNumber"
            placeholder="12345678" required pattern="\d{8}" maxlength="8" minlength="8" inputmode="numeric"
            title="Please enter exactly 8 digits">
    </div>

    <!-- Password Input -->
    <div class="mb-3">
        <label for="password" class="form-label text-white">Password</label>
        <input type="password" class="form-control border-2 border-success" id="password" name="password"
            placeholder="*********" required>
    </div>

    <div class="mb-4">
        <label for="confirmPassword" class="form-label text-white">Confirm Password</label>
        <input type="password" class="form-control border-2 border-success" id="confirmPassword" name="confirm-password"
            placeholder="*********" required title="Passwords do not match"
            oninput="this.setCustomValidity(this.value != document.getElementById('password').value ? this.title : '')">
    </div>

    <!-- Login Button -->
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-success rounded-pill py-2 mb-1 fw-semibold" id="login-btn">
            Register
        </button>
        <a href="/login" class="btn btn-success rounded-pill py-2 fw-semibold">
            Back to Login
        </a>
    </div>
</form>
