*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.grid-container{
  display: grid;
  grid-template-areas: 
  "sidebar header"
  "sidebar content";
  grid-template-columns: 60px 1fr;
  min-height: 100vh;
  grid-template-rows: max-content 1fr;
  transition: grid-template-columns 0.3s ease;
}

app-navbar{
  grid-area: sidebar;
}

app-header{
  grid-area: header;
}

.profile-picture img{
  max-width: 180px;
  border-radius: 90px;
}

.profile-picture{
  display: flex;
  justify-content: center;
  padding: 2rem 0 0.5rem 0;
}

.profile-name{
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: bold;
}

.profile-description{
  display: flex;
  justify-content: center;
  padding: 0.5rem 0;
}

.profile-description textarea {
  field-sizing: content;
  overflow-wrap: anywhere;
  min-height: 1lh;
  max-height: 10lh;
  width: 80%;
  text-align: center;
  resize: none;
  
  transition: all 0.2s ease;
  border: 2px solid transparent; 
  background: transparent;
  outline: none;
  font-size: 1rem;  
  
}
textarea:not([readonly]) {
  border: 2px solid #000; 
  background: #fff;
}

#edit-btn i{
  margin: 0 5px 0 0;
  font-size: 0.8rem;
}

#edit-btn{
  padding: 8px 0;
  min-width: 150px;
  font-size: 0.8rem;      
  background-color: transparent;
  border-color: #006937;
}

.profile-edit{
  display: flex;
  justify-content: center;
}

.profile-description{
  margin-bottom: 0.6rem;
}

.reservations-container{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservations{
  min-width: 100%;
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
}

.reservations-container h1{
  padding: 2rem 0 1rem 0 ;
  font-size: 1.5rem;
}


td i{
  font-size: 1.3rem;
  color:black;
  padding: 10px;
}




@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 240px 1fr;
  }
  
}
