body{
  margin: 0px;
}

.container{
  display: flex;
  flex-direction: column;
}

.title-section{
  display: flex;
  padding-bottom: 40px;
  background-image: url(imgs/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
  background-color: #006937;
  justify-content: center;
  height:100px;
  padding-top:30px;
  gap: 20px;
}

.reg-section{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 15px;
  align-items: center;
}

.reg-input{
  height: 30px;
  font-family: "Open Sans", "Roboto", sans-serif;
  border-radius: 50px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  border: 2px solid #006937;
}

.reg-label{
  font-family: "Open Sans", "Roboto", sans-serif;
  font-size: 14px;
  width: 350px;
  margin-left: 15px;
}

.reg-button{
  font-family: "Inter", "Roboto", sans-serif;
  width: 100px;
  height: 35px;
  border-radius: 20px;
  border: 0px;
  color: white;
  background-color: #006937;
}

.reg-button:hover{
  background-color: #00a053;
}

.reg-button:active{
  background-color: #004d1a;
}

/* This is to remove the up and down arrows for the number inputs */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#title-page{
  font-size: 25px;
  font-family: "Montserrat", "Poppins", sans-serif;
  color: white;
  margin-top: 35px;
  margin-right: 30px;
}

#title-logo{
  height: 100px;
  border: 1px solid white;
  border-radius: 100px;
  background-color: white;
}

#section-title{
  text-align: center;
}