*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.grid-container{
  display: grid;
  grid-template-areas: 
  "sidebar header"
  "sidebar content";
  min-height: 100vh;
  grid-template-rows: max-content 1fr;
  grid-template-columns: 60px 1fr;
  transition: grid-template-columns 0.3s ease;
}

app-header{
  grid-area: header;
  
}

app-navbar{
  grid-area: sidebar;
}

.content{
  grid-area: content;
}

#search-bar{
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
  margin: 3rem auto;
  height: 50px;
  font-family: "Open Sans", "Roboto", sans-serif;
  border-radius: 50px;
  width: min(80%, 650px);
  padding-left: 50px;
  padding-right: 50px;
  border: 2px solid #006937;
}

.search{
  display: flex;
  align-items: center;
}


.reservations-container{
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.reservations{
  min-width: 100%;
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  border-collapse: collapse; 
}

th, td {
  border: 1px solid #ddd; 
  padding: 8px; 
  text-align: left; 
}

.reservations-container h1{
  padding: 2rem 0 1rem 0 ;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .grid-container {
    grid-template-columns: 240px 1fr;
  }

}
